body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

nav ul {
    margin: 0;
    padding: 0;
    border-bottom: 1.5pt solid black;
}

nav li {
    display: inline;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14pt;
}

nav li#title {
    font-size: 20pt;
}

nav a {
    text-decoration: none;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
}

.button {
    height: 15%;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: greenyellow;
    text-align: center;
    box-shadow: 3px 3px 2px grey;
}

.button a {
    text-decoration: none;
    color: black
}