.vscode/
webserver/map.html

instance/

source/secrets.py

**/__pycache__
__pycache__

examples/**/*.json
examples/*.json

node_modules
package-lock.json

.env
*.pkl

*.exe

*.wav
*.mp3

*.nemo

docs/build
build