# VSCode workspace settings
.vscode

# Latex/latexmk build artifacts
**/*.aux
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.synctex.gz
**/*.out
**/*.toc

# Ignore PDFs as well; these will be uploaded to the releases section on GitHub or a separate branch for publications/proposals
**/*.pdf

# Python cache artifacts
source/**/__pycache__
source/**/*.pyc

# Corpora and debugging files
source/*.txt
source/*.out

# Manifest files (typically system dependent)
**/*.json

# NeMo checkpoints and tensorboard logs
source/checkpoints
source/lightning_logs
**/*.nemo

# Jupyter notebook checkpoints
**/.ipynb_checkpoints

# Test outputs
*.xlsx
*.svg
**/*.xlsx
**/*.svg

# Sphinx build artifacts
build