<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}" />
</head>

<body>
    <nav>
        <ul>
            <li id="title">ASR for ATC App</li>
            <li><a href="{{ url_for('index.index') }}">Home</a></li>
            <li><a href="{{ url_for('about.about') }}">About</a></li>
        </ul>
    </nav>

    <section class="content">
        {% block content %}
        {% endblock %}
    </section>
</body>

</html>