<!DOCTYPE html>
<html>

<head>
    <title>Geographic Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/map.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin=""></script>
    <script src="{{ url_for('static', filename='vendor/jquery-3.7.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/leaflet.rotatedMarker.js') }}"></script>
</head>

<body>
    <div id="map">
        <div id="infoPane">
            <img id="closeButton" src="{{ url_for('static', filename='images/xmark-solid.svg') }}" />
            <table id="infoTable"></table>
        </div>
        <div id="zoomedTooFarOut">
            <span>Zoom to view content</span>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

    <script>
        setup_event_listeners();

        // THIS ISNT REQUIRED ANYMORE, WILL REMOVE SOON, KEPT IN FOR DEBUGGING PURPOSES
        var planeIcon = L.icon({
            iconUrl: "{{ url_for('static', filename='images/markers/plane-up-solid.svg') }}",
            iconSize: [20, 20],
            iconAnchor: [10, 10],
            className: "planeMarker"
        });

        const airportIcon = L.icon({
            iconUrl: "{{ url_for('static', filename='images/markers/airport.svg') }}",
            iconSize: [30, 30],
            iconAnchor: [15, 15],
            className: "airportMarker"
        });

        map.setView({ lat: {{ initial_center['lat'] }}, lng: {{ initial_center['lon'] }}, }, {{ initial_center['zoom'] }});

        const airport_data_request = new XMLHttpRequest();

        // add event listener for when an airport data response is received
        airport_data_request.addEventListener("load", () => {
            // ignore cases where response body is null
            console.log(airport_data_request.response);
            if (airport_data_request.response == null)
                return;

            console.log(airport_data_request.response);
            airportData = airport_data_request.response.airport_data;
            draw_airport_markers(airport_data_request.response.airport_data);
        });

        airport_data_request.open("GET", "/data/airports/FL");
        airport_data_request.responseType = "json";
        airport_data_request.send();
        
        //main();
        //setInterval(main, 30000);
        
    </script>
</body>

</html>