<!DOCTYPE html>
<html>
    <head>
        <title>Sectional Map</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/map.css') }}" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin="" />
    
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin=""></script>
        <script src="{{ url_for('static', filename='vendor/jquery-3.7.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/leaflet.rotatedMarker.js') }}"></script>
    </head>
    <body>

    </body>
</html>